@import "tailwindcss";

@theme {
  --color-primary-coffee: rgba(15, 10, 6, 0.95);
}

@layer components {

}

@layer base {
  html,
  body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    padding-top: env(safe-area-inset-top);
  }
}
